/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

/************************************************************
          
        NAV

************************************************************/

nav {
  /* create flexbox */
  display: flex;
  /* space content in box evenly */
  justify-content: space-between;
  /* vertically align content in the box */
  align-items: center;

  padding: 0 35px;

  /* color of nav links */
  color: #5b5e6d;

  background-color: white;

  border-bottom: 0.25px solid #ddd;

  /* sticks nav in place while scrolling */
  /* This will mess with the width of the container so we have to manually set width to 100 */
  position: fixed;
  width: 100%;
}

nav img {
  width: 10vw;
}

nav ul {
  list-style: none;

  /* Makes list horizontal */
  display: flex;
}

nav ul li {
  padding: 5px 10px;
}

nav > ul > li:last-child {
  border: 1px;
  border-radius: 10px;
}

/* img {
  width: 100px;
} */

/************************************************************
          
        Header

************************************************************/

header {
  /* push header below navbar */
  padding-top: 90px;

  margin-bottom: 120px;

  display: flex;
  align-content: center;

  /* border: 1px solid blue; */
}

/* Both divs in header will be 50% width */
header > div {
  width: 50%;

  border: 1px solid blue;
}

header img {
  width: 600px;

  margin: 60px 0 0 90px;
}

header h1 {
  font-size: 75px;
  /* line-height: 70px; */

  margin: 50px 0 20px 0;
}

header p {
  font-size: 18px;

  /* Why use em */
  line-height: 1.5em;

  
}

header button {
  font-size: 15px;
  color: white;
  background-color: #192592;

  border-radius: 4px;

  padding: 7px 15px;
  margin: 15px 0;
}

/************************************************************
          
        MAIN

************************************************************/

.thing-with-grey-back {
  background-color: #f4f3f4;
}

.good-company {
  padding-top: 30px;
  margin-bottom: 100px;

  text-align: center;
}

.good-company h2 {
  font-size: 35px;
}

.good-company p {
  margin: 25px 0;

  letter-spacing: 1px;

  color: #5b5e6d;
}

.good-company button {

  margin-top: 20px;

  font-size: 15px;
  font-weight: bold;
  color: blue;

  background-color: white;

  border-radius: 4px;
  padding: 15px 30px;

  border: 1px solid;
}

.footer-images{
  display: flex;
  flex-wrap: wrap;
}

.footer-images img{
  width: 200px;
}

.footer-images > img:nth-child(4) {
  width: 300px;
}

.main-img-contain{
  /* using this width so each image takes up a third of width */
  width: 33.334%;
  height: 120px;

  /* use flex to center images in each of container of this class */
  display: flex;
  /* center horizontal and vertically */
  justify-content: center;
  align-items: center;

  border: .5px solid gray;
}
